/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* Estilos adicionais aqui */

#contact {
    background-color: #ede9e9;
    padding: 20px;
    text-align: center;
}

.contact-form {
    max-width: 450px;
    margin: 0 auto;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.contact-form button {
    background-color: #3c3939;
    color: rgb(219, 188, 188);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #362d2d;
}







/* Estilos adicionais aqui */

#about {
    background-color: #eb5611;
    padding: 30px;
    text-align: center;
    color: #393939;
}

#about h2 {
    margin-bottom: 30px;
}

#about p {
    margin-bottom: 25px;
}










/* Estilos adicionais aqui */

#location {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    color: #333;
}

#location h2 {
    margin-bottom: 10px;
}

.location-info {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}

